body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:  "wdth" 100;
}

.primary_color{
    color: #FD6E0A;
}

nav{
    display: flex;
}

nav li{
    list-style: none;
}

